rtca_now.h
proj.txt
proj.elf
proj.dep
proj.cflags
*.[oa]
*.pyc
*.*~
*.s
*.swp
*.?#?
*.pyc
*.plt
*.log
*.raw
.deps
autom4te.cache
docs
stamp-h1
config.h
config.log
config.status
output.map
ampy_mixer
tags
